<ul>
    <li *ngIf="data.length === 0">No Todos</li>
    <li *ngFor="let row of data" 
        tabindex="0"
        [ngClass]="row.status"
        [class.selected]="row === selected"
        appTodoStatus
        [status]="row.status">
        <span>{{row.text}}</span>
        <button (click)="onItemClick(row)">EDIT</button>
    </li>
</ul>
