<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <label *ngIf="todo" for="status">Status</label>
    <select *ngIf="todo" formControlName="status" id="status">
        <option [ngValue]="TodoStatus.New">{{TodoStatus.New}}</option>
        <option [ngValue]="TodoStatus.InProgress">{{TodoStatus.InProgress}}</option>
        <option [ngValue]="TodoStatus.Finished">{{TodoStatus.Finished}}</option>
    </select>

    <label for="text">Text</label>
    <textarea id="text" formControlName="text" rows="10" cols="10">

    </textarea>
    <div>
        <button type="submit">Save</button>
    </div>
</form>
